body {
    text-align: center;
}

#title {
    text-align: center;
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
    padding: 40px;
}

table {
    background-color: rgb(178, 193, 194);
}

.day {
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.content {
    height: 200px;
    width: 150px;
    vertical-align: top;
}

#week {
    display: inline-block;
}

#groceries {
    display: inline-block;
    vertical-align: top;
}

#addNotes {
    display: inline-block;
    vertical-align: top;
}

#recipeSearch {
    display: inline-block;
    vertical-align: top;
}

li {
    list-style-position: inside;
    padding: 7px;
    
}

form {
    padding: 30px;
}

button {
    background-color: orange;
    margin-left: 15px;
}

.search {
    cursor:pointer;
}

#showRecipe {
    visibility: hidden
}

/* #showRecipe > h3 {
    color?
    center?
} */
